@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #bee1fa;
}

.navbar {
    background-color: #e3f2fd;
}
    .navbar .dropdown-item {
        font-size: 12px;
    }
    .navbar #firstInput {
        width: 150px;
    }
    .navbar #firstInput, .navbar #secondInput::-webkit-input-placeholder, .navbar .btn{
        font-size: 13px;
    }

.container {

}
    .container .col-8 {
        background-color: #f4f5f6;
    }
    .container .mt-5 {
        text-align: justify;

    }
    .container .mt-5 b a {
        text-decoration: none;
    }
    .container #breed {
        width: 200px;
    }
    .container .card {
        height: 400px;
    }
    .container .card-img-top {
        height: 200px;
    }
    .container #btn_font {
        font-size: small;
        text-transform: uppercase;
    }
    .container .card-text {

    }