@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #bee1fa;
}

.navbar {
    background-color: #e3f2fd;
}
    .navbar .dropdown-item {
        font-size: 12px;
    }
    .navbar #firstInput, .navbar #secondInput::-webkit-input-placeholder, .navbar .btn, .navbar select{
        font-size: 13px;
    }

.container {

}
    .container .col-8 {
        background-color: #f4f5f6;
    }
    .container .mt-5 b a {
        text-decoration: none;
    }
    .container .breed {
        width: 200px;
    }
    .container .card {
        height: 350px;
    }
    .container .card-text {
        font-size: 16px;
    }
    .container .card-img-top {
        height: 150px;
    }
    .container .btn {
        font-size: 12px;
        text-transform: uppercase;
    }
    .container .category_name, .container .category_name a, .container .breed_name, .container .breed_name a {
        text-decoration: none;
        list-style-type: circle;
    }
    .container #breed_image {
        height: 400px;
        width: auto;
    }
    .container .text-muted {
        font-size: 16px;
    }
    .container #about {
        line-height: 30px;
    }

footer {
    height: 65px;
    background-color: #e3f2fd;
}